body {
    text-align: center;
}

ul {
    list-style: none;
}

nav>ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    position : relative;
}

li>p {
    margin-bottom: 0%;
    margin-top: 0%;
    width: 150px;;
}

li>ul {
    padding: 10px;
    position: absolute;
    background-color: white;
    text-align: left;
    visibility: hidden;
}

li:hover>ul {
    visibility: visible;
}

li>a{
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    border-collapse: collapse;
    width: 150px;
}

li>a:link, li>a:visited {
    text-decoration: none;
    color: black;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    text-align: center;
    margin-right: 50px;;
}

article img {
    width: 300px;
}
