body {
    text-align: center;
    background-color: #E0D6C1;
    font-family: Apple Chancery, cursive;
}


#mes_articles article {
    display: inline-block; /**/
    vertical-align: top;  /**/
    margin: 10px;
    width:200px ;
}

#mes_articles article:hover {
    transform: scale(1.25);
}


img {
    border: 1px solid black;
    border-collapse: collapse;
    width: 150px;
    height: 200px;
}