body {
  text-align: center;
  background-color: #E0D6C1;
  font-family: Apple Chancery, cursive;
}
h2 {
  margin-left: 100px;
  text-align: center;
  font-size: 3em;
  color: blue;
}

#nos_magasins h3{
  color: orange;
}

#nos_magasins article {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#nos_magasins div {
  text-align: justify;
  border: 1px solid black;
  margin-left: 50px;
  width: 800px;
}

img{
  width: 150px;
}
