body {
    text-align: center;
}
section {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 0px;
}

section div {
    border-top: 1px solid black;
    padding-top: 50px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

article {
    text-align: center;
    margin-right: 50px;;
}

#mes_articles article {
    width: 200px;
}

#mes_articles img {
    border: 1px solid black;
    border-collapse: collapse;
    width: 150px;
    height: 200px;
}

#mes_articles article:hover {
    transform: scale(1.25);
}

#marques img{
    width: 200px;
    height: 150px;
}