ul {
    list-style: none;
}

nav>ul {
    display: flex;
}

nav ul li {
    position : relative;
}

li>p {
    margin-bottom: 0%;
    margin-top: 0%;
}

li>ul {
    position: absolute;
    background-color: white;
    padding: 0%;
    text-align: left;
    visibility: hidden;
}

li:hover>ul {
    visibility: visible;
}

li>p, li>a{
    display: inline-block;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 150px;
}

li>a:link, li>a:visited {
    text-decoration: none;
    color: black;
}
