<footer>
    <div>
        <article>
            <h3>A propos de Figurine House</h3>
            <ul>
                <li><a href="../controler/affichermagasins.ctrl.php">Nos magasins</a></li>
                <li><a href="">Nous contacter</a></li>
            </ul>
        </article>
        <article>
            <h3>Mentions Légales</h3>
            <ul>
                <li><a href="">Cookies</a></li>
                <li><a href="">Données personnelles</a></li>
            </ul>
        </article>
    </div>
    <p>Figurine House Inc. © 2020. All Rights Reserved.</p>
</footer>